version: "3"

services:
  backend:
    build: ./
    container_name: ecommerce-backend
    env_file:
      - .env
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: ecommerce-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend