version: "3.9"

services:
  postgres-test:
    image: postgres:15
    container_name: ecommerce_postgres_test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce_test
    ports:
      - "5433:5432"
